* {
  font-family: Roboto, sans-serif;
}



header {
  background-color: #1F2937
}
.headerlogo {
  font-size: 24px;
  font-style: bold;
}
header {
  color: white;
}
h1 {
  font: 48px extra-bold #f9faf8 ;
}
button {
  background-color:#3882f6;

}
flex-container {
  justify-content: space-between;
  
}

.info {
  font-size: 36px;
  
  font: 900;
}
.third {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  background-color: #e5e7eb;
}
.fourth {
  background-color: #3882f6;
}
.footer {
  background-color: #1F2937;
  color: white;
}
